
.Brevandring {
  background-image: url(img/Brevandring.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/Brevandring.png);
  }
}

.Ekspedisjonskurs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/Ekspedisjonskurs.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/Ekspedisjonskurs.png);
  }
}

.Fiske {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/Fiske.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/Fiske.png);
  }
}

.Hundekjoring {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/Hundekjoring.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/Hundekjoring.png);
  }
}

.langturpaski {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/langturpaski.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/langturpaski.png);
  }
}

.seiltur {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/seiltur.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/seiltur.png);
  }
}

.skiekspedisjon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/skiekspedisjon.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/skiekspedisjon.png);
  }
}

.skisail {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/skisail.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/skisail.png);
  }
}

.telttur {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/telttur.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/telttur.png);
  }
}

.topptur {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(img/topptur.png);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/topptur.png);
  }
}




.red {
  border-bottom: 20px solid @red !important;
}

.green {
  border-bottom: 20px solid @green !important;
}

.orange {
  border-bottom: 20px solid @orange !important;
}
