@import './_variables.less';
@import './_card.less';
@import './_pics.less';
@import './_first.less';
@import './_finished.less';
@import './_thumbnail.less';

strong, b, h1, h2, h3 {
	font-family: @headingsFontFamily;
	font-weight: normal;
}

body, html {
	height: 100%;
}

body {
	background: @white;
	color: @black;
	font-size: 100%;
	font-family: @baseFontFamily;
	margin: 0;
	-moz-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	-ms-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	-o-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	-webkit-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	font-feature-settings:"onum" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
}

.container {
	max-width: 1080px;
	padding-left: .5em;
	padding-right: .5em;
	margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.app {
	padding: 0 0 0 4em;
	display: flex;
	flex-wrap: wrap;
	height: 90%;
	margin-bottom: 7em;
}

.left {
	flex-basis: 70%;
	@media screen and (max-width: 600px) {
		flex-basis: 100%;
	}
}

.right {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: -20px;
	background: #dafcf0;
	padding: 40px 40px;

	h3 {
		text-align: center;
	}
}

.hero {
	list-style: none;
	display: inherit;
	flex-wrap: wrap;

	li {
		display: flex;
		align-items: center;
		margin-right: 2em;

		img {
			margin-right: 1em;
			width: 20px;
			height: 20px;
		}
	}
}

.price-row {
	display: flex;
	padding: 50px;
	background: rgba(0, 0, 0, 0.80);
	color: @white;
	margin: 0 auto;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	margin-bottom: 1em;
}

.price-row::after {
	content: 'kr/p';
	font-size: 0.4em;
	margin-left: 0.1em;
	margin-top: 1em;
}

.selected-things {
	list-style: none;
	width: 18em;
	padding-left: 0;
	height: 10em;
	overflow-y: scroll;

	li {
		margin-bottom: 1.1em;
	}
}

.share-button {
	padding: 1.5em 4em;
	background: @green;
	color: #fff;
	outline: none;
	border: none;
	font-size: 1em;
	border-radius: 3px;
	margin-top: 3em;
	cursor: pointer;
}

.ion-minus,
.ion-plus {
	cursor: pointer;
}

.takk {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4em;
	margin-bottom: 2em;
	height: 40%;
}
